:root {
  --main-color: rgba(33, 33, 33, 1);
  --secondary-color: rgba(117, 117, 117, 1);
  --hero-color: rgba(255, 255, 255, 1);
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --link-hover-color: rgba(33, 150, 243, 1);
  --button-color: rgba(33, 150, 243, 1);
  --btn-boxshadow-color: rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-color--);
}

.web-logo {
  color: #2196f3;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-item-current {
  font-family: 'Roboto', sans-serif;
  color: var(--link-hover-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--link-hover-color);
}

.email-phone a {
  color: var(--secondary-color);
}

.email-phone a:hover,
.email-phone a:focus {
  color: var(--link-hover-color);
}

.footer-section {
  background-color: rgba(47, 48, 58, 1);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}

.address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}

.footer-email-phone {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
